@charset "utf-8";
/* CSS Document */

.login-session{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #fff;
}

.login-session .graphics-div{
    position:absolute;
    width:35%;
	height:100%;
    right: 0px;
    /* background: url(../../all-images/body-pix/nacos-mapoly-entrance.jpg) right no-repeat; */
    background-size: cover;
}



.login-session .login-div {
    position: absolute;
    width:65%;
    height: 100%;
    left: 0px;
    background: var(--bg-white);
}



.login-session .login-div header {
    display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
    height: 70px;
    width: 100%;
    z-index: 300;
}

.login-session .login-div header .header-div-in {
	width: 75%;
	height: 70px;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    border-bottom: rgba(215, 215, 215, .6) 1px solid;
}

.login-session .login-div header .header-div-in .logo-div {
    width:170px;
	cursor:pointer;
}

.login-session .login-div header .header-div-in .logo-div img {
    width: 100%;
    object-fit: cover;
}

.login-session .login-div header .header-div-in .right-div{
	font-size: 13px;
	color: var(--sub-body-color);
}
.login-session .login-div header .header-div-in .right-div .text-link{
	font-weight: bold;
	font-size: 15px;
}

@media all and (max-width: 460px) {
   .login-session .login-div header .header-div-in .right-div .text{
        display: none;
    }
}

.login-session .login-div .form-back-div {
    position: absolute;
    width: 100%;
    top: 70px;
    height: calc(100% - 70px);
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.login-session .login-div .form-back-div .form-div{
    width: 75%;
	max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 0px;
}


.login-session .login-div .form-back-div .form-div .form-container{
	display: none;
}

.login-session .login-div .form-back-div .form-div #page1{
	display: block;
}

.login-session .login-div .form-back-div .form-div h1{
    color: var(--sub-body-color);
    font-size: 22px;
    line-height: 30px;  
    width: 480px;
    padding: 0px;
    margin: 0px;
}
.login-session .login-div .form-back-div .form-div h1 span{
	color: var(--secondary-color);
}

.login-session .login-div .form-back-div .form-div .form-container .form-detail{
	gap: 15px;
	display: flex;
    flex-direction: column;
}
.login-session .login-div .form-back-div .form-div .form-container .form-detail #page1{
	display: block;
}


.login-session .login-div .form-back-div .form-div .form-container .form-detail .next-btn{
	border:none;
	height: 40px;
	width: 100px;
	border-radius:5px;
	float: right;
	color:var(--white-color);
	font-size:13px;
	margin-top: 5px;
	font-family: sub-title-font;
	background: var(--secondary-color);
	cursor:pointer;
	transition: all 0.2s ease-in 0.2s;
    -moz-transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}

.login-session .login-div .form-back-div .form-div .form-container .form-detail .prev-btn{
	border-radius:5px 0px 0px 5px;
	border-right: var(--white-color) 1px solid;
	background:var(--sub-body-color);
}
.login-session .login-div .form-back-div .form-div .form-container .form-detail .btn2,.login-session .login-div .form-back-div .form-div .form-container .form-detail .submit-btn{
	border-radius:0px 5px 5px 0px;
}

.login-session .login-div .form-back-div .form-div .form-container .form-detail .next-btn:hover{
	opacity: .8;
}



@media all and (max-width:780px) {
	.login-session .graphics-div{
        display: none;
    }
    .login-session .login-div {
        width:100%;
    }
    .login-session .login-div header .header-div-in {
        width: 92%;
    }
	.login-session .login-div .form-back-div .form-div{
		width: 92%;
	}
} 

@media all and (max-width:400px) {
	.login-session .login-div .form-back-div .form-div h1{
        width:100%;
        font-size: 18px;
		line-height: 25px;
    }
	.portal-list-back-div{
		gap: 20px 2%;
	}
} 
.login-session .login-div .form-back-div .form-div .footer-back-div {
	padding: 10px;
	border-bottom: #EB7F1F 1px dashed;
	text-align: center;
	color: var(--text-color);
	font-size: 12px;
}
.login-session .login-div .form-back-div .form-div .footer-back-div span {
	color: var(--secondary-color);
	font-weight: bold;
}




.radio-container{
	display: flex;
	gap: 50px;
}

 .radio-in-div{
	font-size: 15px;
	cursor: pointer;
	display: flex;
	margin-top: 10px;
	gap: 10px;
 }

.radio-in-div .radio {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: var(--primary-color) 5px solid;
    cursor: pointer;
}


.radio-in-div .radio input {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    opacity: 0;
	cursor: pointer;
}

 .radio-in-div .text{
	font-weight: bold;
	font-size: 16px;
	color: var(--sub-body-color);
 }

.radio-in-div .radio .border {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: -16px;
    margin-left: -2px;
    border: #FFF 2px solid;
    background: #FFF;
    -moz-transition: all 0.2s ease-in 02s;
    transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
}

 .radio-in-div .radio:hover .border {
	background: var(--primary-color);
}

.radio-in-div .radio input:checked+.border {
    background: var(--primary-color);
}

.radio-in-div .NO {
	 border: var(--sub-text-color) 5px solid;
}
 .radio-in-div .NO:hover .border {
	background: var(--sub-text-color);
}

.radio-in-div .NO input:checked+.border {
    background: var(--sub-text-color);
}



/* 
.portal-list-back-div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 20px 1.5%;
}

.portal-list-back-div .portal-list-div{
	width:48%;
	min-width: 250px;
	display: flex;
    justify-content: space-between;
	flex-direction: column;
	min-height: 100px;
	background: var(--white-color);
	border: 1px solid rgba(215, 215, 215, .6);
	border-radius: 10px;
	cursor: pointer;
	-moz-transition:all 0.2s ease-in 02s;
	transition:all 0.2s ease-in 0.2s;
	-webkit-transition:all 0.2s ease-in 0.2s;
	-ms-transition:all 0.2s ease-in 0.2s;
	-o-transition:all 0.2s ease-in 0.2s;
}

.portal-list-back-div .portal-list-div .div-in{
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap:15px;
}

.portal-list-back-div .portal-list-div .div-in .icon-div{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	border-radius: 100%;
	color: var(--primary-color);
	background-color: #f8f8f8;
	border: 1px solid rgba(215, 215, 215, .6);
} 

.portal-list-back-div .portal-list-div .div-in .text-div{
	display: flex;
	flex-direction: column;
	gap: 5px;
} 

.portal-list-back-div .portal-list-div .div-in .text-div h4{  
	padding: 0px;
	margin: 0px;
	font-family: sub-title-font;
	font-size: 16px;
	color: var(--sub-body-color);
}

.portal-list-back-div .portal-list-div .div-in .text-div p{
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	color: var(--text-color);
}

.portal-list-back-div .portal-list-div .bottom-div{
	width: calc(100% - 30px);
	border-top: 1px solid rgba(215, 215, 215, .6);
	padding: 15px;
}

.portal-list-back-div .portal-list-div .bottom-div .count-div{
	font-size: 11px;
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--text-color);
	font-family: sub-title-font;
}

.portal-list-back-div .portal-list-div .bottom-div .count-div span{
	color: var(--sub-body-color);
	font-family: body-font;
}

.portal-list-back-div .portal-list-div .bottom-div .count-div i{
	color: var(--sub-secondary-color);
}

.portal-list-back-div .portal-list-div:hover{
	-moz-transform:scale(1.02) translate(1px,0px);
	-webkit-transform:scale(1.02) translate(1px,0px);
}


@media all and (max-width: 1080px) {
    .portal-list-back-div .portal-list-div{
        width:48%;
    }
}  
	
@media all and (max-width: 560px) {
    .portal-list-back-div .portal-list-div{
        width:100%;
		min-width: 0px;
    }
}

*/


