@charset "utf-8";
/* CSS Document */

.login-section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    background: url(../../all-images/images/login-bg.jpg) center no-repeat;
    background-size: cover;
}

.login-section .login-over-lay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-section .login-blur {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px) brightness(0.8) contrast(1.2);
    -webkit-backdrop-filter: blur(40px) brightness(0.8) contrast(1.2);
}

.login-container {
	width: 85%;
    max-width: 1200px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
	gap: 60px;
    height: 80%;
}

.login-container .login-left-content {
	width: 500px;
	min-width: 400px;
    display: flex;
	justify-content: center;
	flex-direction: column;
	color:var(--white-color);
	gap: 15px;
}

.login-container .login-left-content .logo-div {
    width: 150px;
	background: var(--white-color);
	padding: 4px;
	border-radius: 4px;
    cursor: pointer;
}

.login-container .login-left-content .logo-div img {
    width: 100%;
    object-fit: cover;
}

.login-container .login-left-content .inner-div{
	padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.login-container .login-left-content .inner-div h2{
	padding: 0px;
	margin: 0px;
	font-size: 25px;
	color:var(--white-color);
	font-family: sub-title-font;
}

.login-container .login-div {
	width: 450px;
	min-width: 350px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-container .login-div .login-div-in{
	width: calc(100% - 60px);
	padding: 30px;
    display: flex;
    flex-direction: column;
	
}

.login-container .login-div .login-div-in h1{
	padding: 0px;
	margin: 0px;
	font-size: 25px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.login-container .login-div .login-div-in h1 i{
	font-size: 18px;
	color: var(--primary-color);
}

.login-container .login-div .login-div-in p{
	color: var(--text-color);
	font-size: 13px;
	
}

.login-container .login-div .login-div-in .btn-div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login-container .login-div .login-div-in .btn-div .btn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border:none;
	border-radius: 5px;
	min-width: 140px;
	height:43px;
	padding: 0px 25px;
	color:var(--white-color);
	font-size:13px;
	font-family: body-font;
	background: var(--primary-color);
	transition: 0.3s ease-in;
	cursor:pointer;
}

.login-container .login-div .login-div-in .btn-div .btn i{
	font-size:12px;
}

.login-container .login-div .login-div-in .btn-div .btn:hover{
	opacity: .8;
}


.login-container .login-div .login-div-in .btn-div .notification-div span{
	font-size:13px;
	color: var(--text-color);
	cursor:pointer;
	transition: 0.3s ease-in;
	border: none;
	background: none;
}

.login-container .login-div .login-div-in .btn-div .notification-div span:hover{
	color: var(--primary-color);
}

#reset_password_info{
    display: none;
}
 
#send_link_info{
    display: none;
}


#message{
    display: none;
	font-size: 12px;
	color: var(--primary-color);
}



.login-container .login-div .login-div-in .notification{
	font-size: 12px;
	color: var(--text-color);
}

.login-container .login-div .login-div-in span:hover{
	color: var(--primary-color);
	cursor: pointer;
}

.login-container .login-div .login-div-in span i{
	font-size: 10px;
}

.login-container .login-div .login-div-in .icon-div{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #73B13E;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-container .login-div .login-div-in .icon-div i{
	font-size: 20px;
	color: var(--white-color);
}

.login-container .login-div .login-div-in h3{
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	font-family: sub-title-font;
}





.login-container .login-div .login-div-in .pswd_info{
	font-size: 11px;
	font-family: body-font;
	color: var(--text-color);
	margin-bottom: 8px;
}







@media all and (max-width:960px) {
    .login-section {
    	display: flex;
    	gap: 40px;
    }
	.login-container {
		width: 94%;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.login-container .login-left-content {
		width: 100%;
		min-width: 100%;	
	}
	.login-container .login-left-content .inner-div h2 {
		font-size: 4vw;
	}
	.login-container .login-left-content .inner-div p {
		padding: 0px;
		margin: 0px;
	}
	.login-container .login-div {
		width: 100%;
		min-width: 100%;	
	}
}


@media all and (max-width:450px) {
	.login-container .login-left-content {
	align-items: center;
	justify-content: center;
	}
	.login-container .login-left-content .inner-div h2{
		font-size: 5vw;
		text-align: center;
	}
	.login-container .login-left-content .inner-div p{
		display: none;
	}
}

@media all and (max-width:420px) {
	.login-container .login-div .login-div-in .btn-div{
		flex-direction: column;
		gap: 15px;
	}
	.login-container .login-div .login-div-in .btn-div .btn{
		width: 100%;
	}
	.login-container .login-div .login-div-in .btn-div .notification-div{
		display: flex;
		align-self: flex-start;
		justify-self: flex-start;
	}
}


@media all and (max-width:380px) {
	.login-container .login-div .login-div-in h1{
		font-size: 20px;
	}
}

